<h1>indexのページ</h1>

<div>
   <% @products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            
            <%= image_tag '/assets/product.jpg' %>
          </tr>
        <% end %>
  </div>

  <h1>ここから金額</h1>
  <div>
  <% @prices.each do |price| %>
          <tr>
            <td><%= price.id %></td>
            <td><%= price.amount %></td> 
          </tr>
        <% end %>
  </div>
