<!DOCTYPE html>
<html>
  <head>
    <title>Potepanec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
       <header>
        <%= render "shared/partial" %><!--sharedに実装-->
       </header>
            <main>
              <%= yield %>
            </main>
      <footer>
        <%= render "shared/partial2" %><!--sharedに実装-->
      </footer>
  </body>
</html>
